

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  margin: 0 auto;
  
  background-color: rgb(64, 67, 57);
  color: rgb(215, 215, 198);
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}