

body{
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 6rem 0 0 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: rgb(58, 67, 57);
  color: rgb(215, 215, 198);
}

header{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6em;
  background: rgb(215, 215, 198);
  background: linear-gradient(180deg, rgb(215, 215, 198) 55%, rgb(215, 215, 198, 0.7) 70%, rgb(215, 215, 198,0.5) 80%, rgba(255,255,255,0) 90%);
}

h1{
  color: rgb(27, 31, 27);
  font-size: 1.5em;
  font-family: 'Panchang', sans-serif;
  margin-left: 0.5em;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  background-color: rgb(43, 49, 43);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContainer{
width: 90%;
font-size: 0.8rem;
margin-bottom: 2em;
}

i{
  font-size: 2em;
  margin: 0.5em;
}

@media only screen and (min-width: 793px) {

 footer{
  flex-direction: row;
  justify-content: center;
 }

 .aboutContainer{
  width: 50%;
  margin-right: 3em;
 }
}